
html {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.radio {
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
	border-color: orange;
}

.radio::before {
    content: "WEB / FM Radio";
    display: block;
    background-color: orange;
    padding: 10px;
}

.radio .curr {
    background-color: orange
}

a {
	text-decoration: none;
	color: royalblue;
}

a:hover {
	color: coral;
}
