html {
	background-color: lightgrey;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	max-width: 600px;
	min-width: 320px;
	margin: auto;
}

.radio>div {
	margin-bottom: 10px;
}

.header {
	display: block;
	background-color: orange;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	font-weight: bold;
}

.header>span {
	margin-left: 5px;
	font-weight: normal;
}

#sleep {
	float: right;
	position: relative;
	top: -5px;
	height: 30px;
	cursor: pointer;
}

#sleep:hover {
	background-color: white;
	border-radius: 10px;
}

#sigvolt {
	float: right;
	position: relative;
	top: -5px;
	font-size: 12px;
	text-align: right;
	margin-right: 5px;
}

.radio {
	background-color: white;
	border: 2px solid orange;
	border-radius: 10px;
	padding: 10px;
}

.volume {
	text-align: center;
	color: darkorange;
}

.volume img:nth-child(1)
{
	height: 20px;
	float: left;
}

.volume img:nth-child(2)
{
	height: 20px;
	float: right;
}

input[type=text] {
	height: 24px;
	border-radius: 5px;
	border: 1px solid orange;
	width: 70%;
}

input[type='range'] {
	margin: 0;
	height: 30px;
	overflow: hidden;
	width: 100%;
	-webkit-appearance: none;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid transparent;
}

input[type='range']:hover {
	border: 1px solid orange;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	color: orange;
	margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
	width: 10px;
	-webkit-appearance: none;
	height: 10px;
	background: orange;
	box-shadow: -600px 0 0 600px orange;
}

input[type="range"]::-moz-range-progress {
	background-color: orange;
}

input[type="range"]::-moz-range-track {
	background-color: lightgray;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
	background-color: royalblue;
}

input[type="range"]::-ms-fill-upper {
	background-color: lightgray;
}

button {
	padding: 7px 20px;
	margin: 6px;
	border: 0;
	cursor: pointer;
	background: lightgray;
	border-radius: 5px;
	outline: 0;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
	min-width: 60px;
}

button.flat {
	background: transparent;
	border: 1px solid gray;
	margin-left: 5px;
	margin-right: 0;
	box-shadow: none;
	color: black;
	padding: 7px 5px;
	min-width: auto;
}

button:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

button:active {
	background: orange;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

table {
	border-spacing: 0;
}

th {
	color: orange;
	text-wrap: nowrap;
}

td.wide {
	width: 100%;
}

td {
	padding: 0px 5px 0px 5px;
	text-align: left;
	border-top: 1px solid orange;
}

td:nth-child(1) {
	text-align: center;
}

td:nth-child(1) img {
	width: 20px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 2px solid transparent;
	border-radius: 5px;
}

td:nth-child(1) img:hover {
	background-color: orange;
	border-color: white;
}

td:nth-child(1) div {
	border: 1px solid orange;
	padding: 0px 6px 2px 5px;
	border-radius: 12px;
	background-color: white;
	font-weight: bold;
	color: darkorange;
}

td:nth-child(2) div {
	font-weight: bold;
	font-size: 18px;
}

td:nth-child(2) span {
	font-size: 14px;
	word-break: break-all;
}

td:nth-child(2):hover {
	color: darkorange;
	cursor: pointer;
}

.curr td:nth-child(2):hover {
	color: black;
	cursor: default;
}

td:nth-child(3) img {
	height: 20px;
	padding: 6px;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
}

td:nth-child(3) img:hover {
	background-color: orange;
	border-color: white;
}

.curr {
	background-color: orange;
}

p {
	color: orange;
	font-weight: bold;
	font-size: 18px;
	padding-left: 50px;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: royalblue;
}

a:hover {
	color: coral;
	cursor: pointer;
}

.updating {
	opacity: 50%;
	cursor: wait;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.red {
	color: red;
}

.label {
	display: flex;
	font-size: 14px;
	color: darkorange;
}

.label2 {
	font-weight: 500;
	color: darkorange;
}

.current {
	border: 1px solid orange;
	border-radius: 5px;
	padding: 5px;
}

#sourceTitle {
	display: block;
	padding: 4px;
}

#sourceName {
	border: 0;
	padding: 4px;
	font-size: 18px;
	width: 80%;
	font-weight: bold;
}

#rename {
	position: relative;
	float: right;
	height: 20px;
	padding: 6px;
	cursor: pointer;
}

#rename:hover {
	background-color: orange;
	border-radius: 5px;
}

#add {
	position: relative;
	float: right;
	height: 20px;
	padding: 6px;
	cursor: pointer;
}

#add:hover {
	background-color: orange;
	border-radius: 5px;
}